.mini-form {
    position: absolute;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    display: none;
}

.mini-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
    box-shadow: none;
}

.mini-content {
    padding: 10px 0;
}

.mini-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.mini-label {
    font-weight: bold;
    font-size: 13px;
}
.mini-value{
    font-size: 13px;
}
.mini-actions {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.view-btn, .edit-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.edit-btn {
    background-color: #e67e22;
    color: white;
    width: 100%;
    height: 35px;
}
.close-btn:hover{
    background: none;
    color: red;
}
